@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");
@font-face {
    font-family: "Liberation Serif";
    src: url("../font/LiberationSerif-Regular.ttf");
}
* {
    margin: 0%;
    padding: 0%;
}
@mixin font_r4($size, $height, $color) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: $size;
    line-height: $height;
    color: $color;
}
@mixin font_r6($size, $height) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: $size;
    line-height: $height;
    color: #ffffff;
}
@mixin font_l($size, $height, $color) {
    font-family: "Liberation Serif";
    font-style: normal;
    font-weight: 400;
    font-size: $size;
    line-height: $height;
    color: $color;
}

//TEXT
.pmod {
    @include font_l(30px, 44px, #fff);
}
.pBURG {
    @include font_r6(16px, 26px);
    color: #000;
}
.p1 {
    @include font_r6(12px, 18px);
}
.p2 {
    @include font_l(73px, 96px, #fff);
    margin-bottom: 7%;
    @media (max-width: 1200px) {
        @include font_l(60px, 80px, #fff);
    }
    @media (max-width: 390px) {
        @include font_l(50px, 60px, #fff);
    }
}
.p3 {
    @include font_r4(18px, 32px, #fff);
}
.p4 {
    @include font_r4(18px, 32px, #000);
    @media (max-width: 760px) {
        @include font_r4(15px, 25px, #000);
    }
}
.p5 {
    @include font_l(64px, 80px, #000);
    margin-bottom: 7%;
    @media (max-width: 1200px) {
        @include font_l(50px, 60px, #000);
    }
    @media (max-width: 400px) {
        @include font_l(40px, 50px, #000);
    }
}
.p6 {
    @include font_r4(12px, 18px, #000);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.p7 {
    @include font_l(30px, 44px, #000);
    margin-bottom: 3%;
    @media (max-width: 900px) {
        @include font_l(24px, 35px, #000)
    }
}
.p8 {
    @include font_r4(16px, 28px, #000);
    margin-bottom: 4%;
}
.p9 {
    @include font_l(53px, 80px, #000);
    @media (max-width: 760px) {
        @include font_l(45px, 60px, #000);
    }
    //@media (max-width: 500px) {
        //@include font_l(35px, 50px, #000);
    //}
}
.p01 {
    @include font_l(30px, 44px, #000);
}
//.p02 {@include font_l(36px, 44px, #000);}
.p10 {
    @include font_r4(18px, 32px, #fff);
}
.p11 {
    @include font_r4(14px, 21px, #fff);
    text-transform: uppercase;
}
.p12 {
    @include font_r4(16px, 24px, #8a8a8a);
    text-transform: capitalize;
}
.p13 {
    @include font_l(55px, 80px, #fff);
    @media (max-width: 450px) {
        @include font_l(40px, 50px, #fff);
    }
}
.p14 {
    @include font_r4(16px, 28px, #fff);
}
.p03 {
    @include font_r4(12px, 18px, #fff);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.p15 {
    @include font_r4(12px, 18px, rgba(255, 255, 255, 0.6));
    letter-spacing: 1px;
    text-transform: uppercase;
}
.p16 {
    @include font_l(42px, 72px, #fff);
}
.p04 {
    @include font_r4(18px, 27px, #fff);
}

.hrr {
    margin: 0 auto;
    //color: #BDBDBD;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
}

//VERH
.verh {
    background-color: #996b60;
    margin-bottom: 4%;

    &__levo {
        background: url(../img/1.png) center/cover no-repeat;
        width: 45%;
        padding: 38px 60px;
    }
    &__pravo {
        width: 55%;
        padding: 2% 6%;
        @media (max-width: 768px){
            width: 100%;
        }
    }
    &__navii {
        justify-content: space-between;
        @media (max-width: 992px){
            margin-top: 4%;;
        }
    }
    &__txt {
        margin-top: 37%;
        width: 75%;
        margin-bottom: 11%;
        @media (max-width: 965px){
            width: 90%;
            margin-top: 20%;
        }
    }
}
.navv {
    float: right;
    align-items: center;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu[data-bs-popper] {
    top: 81%;
    left: -102px;
}
.dropdown-menu.show {
    background-color: rgba(255, 255, 255, 0.3);
    border: rgba(255, 255, 255, 0);
}
.btnn{background-color: rgba(255, 255, 255, 0);
    border: 0px;
    float: right;}
.btn {
    @include font_r4(12px, 14px, #fff);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 19px 52px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 12%;
    border-radius: 0%;
}
.btn:active,
.btn:hover {
    @include font_r4(12px, 14px, #fff);
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0%;
}

//MODAL
.modcentr {
    text-align: left;
    //margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 1%;
}
.modal-content {
    background-color: #000;
}
.modal-header {
    border-bottom: #000;
    padding-bottom: 0%;
}
.btn-close {
    background-image: url(../img/kr.svg);
}
.b-cl {
    background-image: url(../img/kr1.svg);
}


//SPONS
.card {
    padding: 4% 10%;
    height: 100%;
}
.card-body{
    @media (max-width: 768px){
        padding: 0%;
    }
}
.spons {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5%;
    &__cardd {
        display: flex;
        width: 30%;
    }
}

//CATALOG
.catalog {
    //width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    @media (max-width: 750px){margin-bottom: 9%;}
    &__txt {
        width: 40%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 3%;
    @media (max-width: 1200px){width: 70%;}
    @media (max-width: 520px){width: 90%;}
    }
}

//SLIDER
.SLIDER {
    text-align: center;
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__CARD {
        width: 30%;
        @media (max-width: 768px) {
            width: 47%;
        }
    }
}
//кнопочки в слайдере
.au {
    border: 1px solid #000;
    background: #000;
    margin-bottom: 0%;
    margin-top: 3%;
    padding: 15px 30px;
    @media (max-width: 420px){
        padding: 10px 20px; 
        @include font_r4 (10px, 12px, #fff)      
    }
}
.btn:active,
.btn:hover {
    border: 1px solid #000;
    background: #000;
}

.carousel-indicators {
    bottom: -50px;
}
.carousel-control-next-icon {
    background-image: url(../img/str2.svg);
}
.carousel-control-prev-icon {
    background-image: url(../img/str1.svg);
}
.carousel-indicators [data-bs-target] {
    background-color: #000;
}
.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

//APERETIFS
.aper {
    width: 100%;
    margin-bottom: 5%;
}

//PYPY
.pypy {
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    &__cont {
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }
    &__txt {
        width: 40%;
        @media (max-width: 1200px) {
            width: 85%;
            text-align: center;
            margin: 0 auto;
        }
    }
    &__imgg {
        width: 50%;
        @media (max-width: 1200px) {
            width: 90%;
            margin: 0 auto;
        }
    }
}

//OTZIVII
.otz {
    width: 100%;
    background-color: #000;
    padding-top: 5%;
    padding-bottom: 3%;
}

//PODPISKI
.podpiski {
    background: url(../img/7.png) center/cover no-repeat;
    padding: 10% 7%;
    text-align: center;
    &__cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
    }
    &__spotify {
        background-color: #000;
        padding: 5% 10%;
    }
    &__smi {
        background-color: #000;
        padding: 4% 7%;
    }
    &__cc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
        margin-top: 5%;
        @media (max-width: 390px){
            width: 80%;
        }
    }
}
.sp {
    @include font_r4(14px, 14px, #000);
    padding: 19px 58px;
    border: 1px solid #fff;
    background: #fff;
    margin-bottom: 1%;
}
//.sp:active, .sp:hover{@include font_r4(12px, 14px, #fff);
//border: 1px solid #fff;
//background: rgba(255, 255, 255, 0.2);
//border-radius: 0%;}

//FOOTER
.footer {
    background-color: #000;
    padding: 30px 60px;
    @media (max-width: 390px){
        padding: 20px 40px;
    }
    &__pri {
        justify-content: space-between;
    }
    &__cont {
        justify-content: space-between;
    }
}
.ayy{
    @media (max-width: 720px){
        display: none;
    }}
.form-floating > label {
    @include font_r4(12px, 14px, #ffffffd5);
    letter-spacing: 0.12px;
    text-transform: uppercase;
}

.pform{@include font_r4(12px, 14px, #ffffffd5);
    letter-spacing: 0.12px;
    text-transform: uppercase;
    margin-bottom: 2%;}
.btnan{
    margin-bottom: 0px;
    margin-top: 4%;
    padding: 3% 5%;
}